# Week 6 Task

In [1]:
# Import request and pandas
import requests
import pandas as pd

In [2]:
# Fetch data from Weatherstack API
BASE_URL = "http://api.weatherstack.com/current"
API_KEY = "c3de5f7f2b096e76e8b1e456de9bc49a"
Location = "London"

Locations = ["New York", "Tokyo", "Berlin", "Paris", "London"]
weather_data = []

for Location in Locations:
    params = {
        "access_key": API_KEY,
        "query": Location
    }
     
    response = requests.get(BASE_URL, params=params)
    data = response.json()
    weather_data.append(data)

In [3]:
weather_data

[{'request': {'type': 'City',
   'query': 'New York, United States of America',
   'language': 'en',
   'unit': 'm'},
  'location': {'name': 'New York',
   'country': 'United States of America',
   'region': 'New York',
   'lat': '40.714',
   'lon': '-74.006',
   'timezone_id': 'America/New_York',
   'localtime': '2024-08-03 20:12',
   'localtime_epoch': 1722715920,
   'utc_offset': '-4.0'},
  'current': {'observation_time': '12:12 AM',
   'temperature': 27,
   'weather_code': 293,
   'weather_icons': ['https://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0017_cloudy_with_light_rain.png'],
   'weather_descriptions': ['Patchy light rain'],
   'wind_speed': 13,
   'wind_degree': 237,
   'wind_dir': 'WSW',
   'pressure': 1009,
   'precip': 2.1,
   'humidity': 61,
   'cloudcover': 69,
   'feelslike': 30,
   'uv_index': 6,
   'visibility': 9,
   'is_day': 'no'}},
 {'request': {'type': 'City',
   'query': 'Tokyo, Japan',
   'language': 'en',
   'unit': 'm'},
  'location': {'name': 'Tokyo',
   'country': 'Japan',
   'region': 'Tokyo',
   'lat': '35.690',
   'lon': '139.692',
   'timezone_id': 'Asia/Tokyo',
   'localtime': '2024-08-04 09:14',
   'localtime_epoch': 1722762840,
   'utc_offset': '9.0'},
  'current': {'observation_time': '12:14 AM',
   'temperature': 30,
   'weather_code': 113,
   'weather_icons': ['https://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0001_sunny.png'],
   'weather_descriptions': ['Sunny'],
   'wind_speed': 9,
   'wind_degree': 147,
   'wind_dir': 'SSE',
   'pressure': 1009,
   'precip': 0,
   'humidity': 54,
   'cloudcover': 18,
   'feelslike': 32,
   'uv_index': 7,
   'visibility': 10,
   'is_day': 'yes'}},
 {'request': {'type': 'City',
   'query': 'Berlin, Germany',
   'language': 'en',
   'unit': 'm'},
  'location': {'name': 'Berlin',
   'country': 'Germany',
   'region': 'Berlin',
   'lat': '52.517',
   'lon': '13.400',
   'timezone_id': 'Europe/Berlin',
   'localtime': '2024-08-04 02:14',
   'localtime_epoch': 1722737640,
   'utc_offset': '2.0'},
  'current': {'observation_time': '12:14 AM',
   'temperature': 19,
   'weather_code': 176,
   'weather_icons': ['https://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0025_light_rain_showers_night.png'],
   'weather_descriptions': ['Patchy rain nearby'],
   'wind_speed': 4,
   'wind_degree': 170,
   'wind_dir': 'S',
   'pressure': 1009,
   'precip': 0,
   'humidity': 83,
   'cloudcover': 81,
   'feelslike': 19,
   'uv_index': 1,
   'visibility': 10,
   'is_day': 'no'}},
 {'request': {'type': 'City',
   'query': 'Paris, France',
   'language': 'en',
   'unit': 'm'},
  'location': {'name': 'Paris',
   'country': 'France',
   'region': 'Ile-de-France',
   'lat': '48.867',
   'lon': '2.333',
   'timezone_id': 'Europe/Paris',
   'localtime': '2024-08-04 02:10',
   'localtime_epoch': 1722737400,
   'utc_offset': '2.0'},
  'current': {'observation_time': '12:10 AM',
   'temperature': 19,
   'weather_code': 119,
   'weather_icons': ['https://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png'],
   'weather_descriptions': ['Cloudy '],
   'wind_speed': 12,
   'wind_degree': 282,
   'wind_dir': 'WNW',
   'pressure': 1015,
   'precip': 0,
   'humidity': 84,
   'cloudcover': 78,
   'feelslike': 19,
   'uv_index': 1,
   'visibility': 10,
   'is_day': 'no'}},
 {'request': {'type': 'City',
   'query': 'London, United Kingdom',
   'language': 'en',
   'unit': 'm'},
  'location': {'name': 'London',
   'country': 'United Kingdom',
   'region': 'City of London, Greater London',
   'lat': '51.517',
   'lon': '-0.106',
   'timezone_id': 'Europe/London',
   'localtime': '2024-08-04 01:14',
   'localtime_epoch': 1722734040,
   'utc_offset': '1.0'},
  'current': {'observation_time': '12:14 AM',
   'temperature': 16,
   'weather_code': 116,
   'weather_icons': ['https://cdn.worldweatheronline.com/images/wsymbols01_png_64/wsymbol_0004_black_low_cloud.png'],
   'weather_descriptions': ['Partly Cloudy '],
   'wind_speed': 9,
   'wind_degree': 314,
   'wind_dir': 'NW',
   'pressure': 1014,
   'precip': 0,
   'humidity': 62,
   'cloudcover': 25,
   'feelslike': 16,
   'uv_index': 1,
   'visibility': 10,
   'is_day': 'no'}}]

In [4]:
# Convert the JSON response into a pandas DataFrame.
weather = []

for data in weather_data:
    weather.append({
        "location":data["location"]["name"],
        "temperature":data["current"]["temperature"],
        "wind_speed":data["current"]["wind_speed"],
        "wind_degree":data["current"]["wind_degree"],
        "humidity":data["current"]["humidity"],
        "pressure":data["current"]["pressure"],
    })

weather = pd.DataFrame(weather)
weather

   location  temperature  wind_speed  wind_degree  humidity  pressure
0  New York           27          13          237        61      1009
1     Tokyo           30           9          147        54      1009
2    Berlin           19           4          170        83      1009
3     Paris           19          12          282        84      1015
4    London           16           9          314        62      1014

In [5]:
# Display the first few rows of the DataFrame.
First_few_row = weather.head(2)
First_few_row

   location  temperature  wind_speed  wind_degree  humidity  pressure
0  New York           27          13          237        61      1009
1     Tokyo           30           9          147        54      1009

In [6]:
# Display the last few rows of the DataFrame.
last_few_row = weather.tail(2)
last_few_row

  location  temperature  wind_speed  wind_degree  humidity  pressure
3    Paris           19          12          282        84      1015
4   London           16           9          314        62      1014

In [7]:
# Check for missing values.
missing_value = weather.isnull()
missing_value

   location  temperature  wind_speed  wind_degree  humidity  pressure
0     False        False       False        False     False     False
1     False        False       False        False     False     False
2     False        False       False        False     False     False
3     False        False       False        False     False     False
4     False        False       False        False     False     False

In [8]:
# Calculate basic statistics (mean, median, etc.) for temperature, humidity, and wind speed.
statistics = weather.describe()
statistics

       temperature  wind_speed  wind_degree   humidity    pressure
count     5.000000    5.000000     5.000000   5.000000     5.00000
mean     22.200000    9.400000   230.000000  68.800000  1011.20000
std       5.974948    3.507136    71.235525  13.773162     3.03315
min      16.000000    4.000000   147.000000  54.000000  1009.00000
25%      19.000000    9.000000   170.000000  61.000000  1009.00000
50%      19.000000    9.000000   237.000000  62.000000  1009.00000
75%      27.000000   12.000000   282.000000  83.000000  1014.00000
max      30.000000   13.000000   314.000000  84.000000  1015.00000

In [9]:
# Identify the highest value of temperature
highest_temperature = weather.max()["temperature"]
highest_temperature

30

In [10]:
# Identify the highest value of pressure
highest_pressure = weather.max()["pressure"]
highest_pressure

1015

In [11]:
# Identify the highest value of humidity
highest_humidity = weather.max()["humidity"]
highest_humidity

84